<!DOCTYPE html>
<html ng-app="dapp">
  <head>
    <title>◊ Full-stack ÐApp ◊</title>
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body>
    <div ng-view></div>

    <!-- inject:bower_components:js -->
    <!-- endinject -->
    
    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
