<!DOCTYPE html>
<html>
  <head>
    <title>Node Ethereum is awesome</title>
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body>
    <h1>Node Ethereum demo</h1>
    <!-- inject:bower_components:js -->
    <!-- endinject -->
    
    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
